html, body {
    height: 100%;
    font: 11px Tahoma, Sans-serif;
    background-color: white;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
    width: 1000px;
    margin: auto;
    background-color: #f9ecec;
}

.header {
    background-color: #483d8d;
    height: 100px;
}

.header p {
    font-size: 20px;
    padding-top: 35px;
}

.title {
    margin: 10px 0 0 20px;
    font-size: 18px;
    color: #444444;
    text-decoration: underline;
}
.content {
    width: 1000px;
    margin: auto;
    min-height: 200px;
    max-height: 100%;
}

.form_block {
    height: 186px;
    padding: 10px;
}

.comment {
    margin-top: 2px;
}

.top_row {
    display: inline-block;
    width: 100%;
    background-color: #b0c4de;
}

ul {
    list-style: none;
}
li {
    margin: 4px 0 4px 20px;
    float: left;
}

.author {
    color: #ffffff;
}

.date {
    margin-right: 20px;
    color: #6a5acd;
    float: right;
}

.point {
    float: right;
    margin-right: 20px;
    color: #6a5acd;
}
table {
    width: 100%;
    table-layout: fixed;
    border: solid 1px steelblue;
    word-wrap:break-word;
    margin-top: -3px;
    background-color: #f6f6f6;
}

form {
    position: relative;
}

.field1, .field2, .field3, .field4, .field5, .field6 {
    position: absolute;
    right: 0;
}

.field2 {
    right: 100px;
    top: 25px;
}

.field3 {
    top: 53px;
}

.field4 {
    top: 78px;
}

.field5 {
    top: 26px;
}

.field6 {
    margin-top: 85px;
}

.footer {
    height: 30px;
    width: 100%;
    background-color: #483d8d;
}
