html, body {
  height: 100%;
  font: 11px Tahoma, Sans-serif;
  background-color: white;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  width: 1000px;
  margin: auto;
  background-color: #f9ecec;
}

.header {
  background-color: #483d8d;
  height: 100px;
  border-radius: 5px;
  p {
    font-size: 20px;
    padding-top: 35px;
  }
}

.title {
  margin: 10px 0 0 20px;
  font-size: 18px;
  color: #444444;
  text-decoration: underline;
}

.content {
  width: 1000px;
  margin: auto;
  min-height: 1px;
  max-height: 100%;
}

.sorting {
  display: inline-block;
  width: 100%;
}

.sort_by {
  font-size: 14px;
  color: #4a6a89;
}

.count {
  margin-left: 20px;
  float: left;
  color: #4a6a89;
  font-size: 12px;
}

.sort_item {
  float: right;
  list-style: none;
  margin-right: 15px;
  li {
    float: left;
    margin: 0 5px 0 5px;
  }
}

.navigation {
  margin-left: 20px;
}

.comment {
  margin-top: 2px;
}

.top_row {
  background-color: #b0c4de;
  border-radius: 5px;
  ul {
    display: inline-block;
    list-style: none;
    width: 100%;
  }
  li {
    margin: 4px 20px 4px 20px;
  }
}

.author {
  color: #ffffff;
  float: left;
}

.date {
  right: 20px;
  color: #6a5acd;
  float: right;
}

.point {
  float: right;
  margin-right: 20px;
  color: #6a5acd;
}

table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: -3px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.form_block {
  height: 100%;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

.message {
  margin: 10px 20px 0 20px;
  font-size: 12px;
  color: #880000;
  font-weight: bold;
}

.error {
  margin-left: 20px;
}

.form_block form {
  margin: 10px 20px 20px 20px;
  position: relative;
  height: 140px;
}

.field_author, .field_site, .field_comment, .field_point, .button_submit {
  position: absolute;
}

.field_site {
  top: 25px;
  left: 44px;
}

.field_comment {
  top: 50px;
  left: 8px;
}

.field_point {
  top: 0;
  left: 300px;
}

.button_submit {
  top: 120px;
  left: 558px;
}

.footer {
  height: 30px;
  width: 100%;
  background-color: #483d8d;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}